<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>Hello name1</servlet-name>
        <servlet-class>web.HelloWorld</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Hello name1</servlet-name>
        <url-pattern>/Public</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Hi World</servlet-name>
        <servlet-class>web.HiWorld</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Hi World</servlet-name>
        <url-pattern>/hi</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Hi Beer</servlet-name>
        <servlet-class>web.BeerSelect</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Hi Beer</servlet-name>
        <url-pattern>/SelectBeer.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BeerParamTests</servlet-name>
        <servlet-class>web.TestInitParams</servlet-class>

        <!--
            <init-param>
                <param-name>adminEmail</param-name>
                <param-value>likewecare@wickedlysmart.com</param-value>
            </init-param>
        -->

        <!--
            <init-param>
                <param-name>mainEmail</param-name>
                <param-value>blooper@wickedlysmart.com</param-value>
            </init-param>
        -->

    </servlet>

     <context-param>
         <param-name>adminEmail</param-name>>
         <param-value>clientheaderoor@wickedlysmart.com</param-value>
     </context-param>

    <context-param>
        <param-name>mainEmail</param-name>
        <param-value>blooper@wickedlysmart.com</param-value>
    </context-param>>

    <servlet-mapping>
        <servlet-name>BeerParamTests</servlet-name>
        <url-pattern>/Tester.do</url-pattern>
    </servlet-mapping>

    <!--
    P.161的練習題答案

        <servlet>
            <servlet-name>BeerTest</servlet-name>
            <servlet-class>com.wickedlysmart.BeerTester</servlet-class>>
        </servlet>

        <context-param>
            <param-name>foo</param-name>
            <param-value>bar</param-value>
        </context-param>

    <init-param>是用來定義Servlet初始化參數,而不是Context初始化參數
    只會在<servlet>元素中,找到<init-param>元素
    -->

    <servlet>
        <servlet-name>ListenerTester</servlet-name>
        <servlet-class>example.ListenerTester</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ListenerTester</servlet-name>
        <url-pattern>/ListenTest.do</url-pattern>
    </servlet-mapping>

    <!--這個應用系統中需要設定一個Context初始化參數,聆聽器會用到這個參數來建構出Dog物件-->
    <context-param>
        <param-name>breed</param-name>
        <param-value>Great Dane</param-value>
    </context-param>

    <!-- Lunch Information-->

    <!--
    這裡將這個類別註冊為聆聽器
    這個<listener>元素不是放在<servlet>元素之中!
    不能這麼做是因為context聆聽器是為了ServletContext所設計的
    (這表示,他是以整個應用系統為範圍的application-wide)事件
    它的主要目的是要在任何一個Servlet初始化之前,先做應用系統的初始化
    -->
    <listener>
        <listener-class>example.MyServletContextListener</listener-class>
    </listener>

    //作業部分
    <servlet>
        <servlet-name>LunchBoxListenerTest</servlet-name>
        <servlet-class>example.LunchBoxListenerTest</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LunchBoxListenerTest</servlet-name>
        <url-pattern>/LunchBoxTest.do</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>name</param-name>
        <param-value>Roiled chicken drumstick lunch box</param-value>
    </context-param>

    <context-param>
        <param-name>mainDish</param-name>
        <param-value>Chicken</param-value>
    </context-param>

    <context-param>
        <param-name>sideDish</param-name>
        <param-value>Cabbage</param-value>
    </context-param>

    <context-param>
        <param-name>drink</param-name>
        <param-value>Black tea</param-value>
    </context-param>

    <listener>
        <listener-class>
            example.LunchBoxListener
        </listener-class>
    </listener>

    //TestSession
    <servlet>
        <servlet-name>TestSession</servlet-name>
        <servlet-class>web.TestSession</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TestSession</servlet-name>
        <url-pattern>/testSession.do</url-pattern>
    </servlet-mapping>

    //TestSession2
    <servlet>
        <servlet-name>TestSession2</servlet-name>
        <servlet-class>web.TestSession2</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TestSession2</servlet-name>
        <url-pattern>/testSession2.do</url-pattern>
    </servlet-mapping>

    //CheckCookie
    <servlet>
        <servlet-name>CheckCookie</servlet-name>
        <servlet-class>web.CheckCookie</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CheckCookie</servlet-name>
        <url-pattern>/checkCookie.do</url-pattern>
    </servlet-mapping>

    //CookieTest
    <servlet>
        <servlet-name>CookieTest</servlet-name>
        <servlet-class>web.CookieTest</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CookieTest</servlet-name>
        <url-pattern>/cookieTest.do</url-pattern>
    </servlet-mapping>

</web-app>